.header--ox {
  margin: 65px 0 85px 0;
}

.footer--ox {
	margin-top: 50px;
}

.main__nav--ox {
  margin-bottom: 80px;
}

.main__msg--ox {
  margin: 50px auto;
}

.img--ox {
	width: 100%;
}