.header--ox {
  margin: 65px 0 85px 0;
}

.footer--ox {
  margin-top: 50px;
}

.main__nav--ox {
  margin-bottom: 80px;
  min-height: 175px;
  position: relative;
}

.main__msg--ox {
  margin: 50px auto;
}

.nav__btn--ox {
  position: absolute;
  font-family: verdana;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.85);
  border-color: rgba(255, 255, 255, 0.85);
  color: #4273bb;
  border-radius: 50%;
  background-image: url("imagenes/icon--gray.svg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 50% 68%;
}

.btn--home {
  top: 14%;
  left: 14%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 58px;
  padding-bottom: 58px;
}

.btn--us {
  top: 7%;
  left: 53%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-size: 73%;
}

.btn--xp {
  top: 30%;
  left: 31.5%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 108px;
  padding-bottom: 108px;
}

.btn--facilities {
  top: 38%;
  left: 67%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 109px;
  padding-bottom: 109px;
}

.btn--contact {
  top: 71%;
  left: 83%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 67px;
  padding-bottom: 67px;
}

.img--ox {
  width: 100%;
}